* {
  margin: 0;
  padding: 0;
}
.navbar-container {
  width: 84%;
  margin: auto;
  padding: 30px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
div ul li {
  display: inline-block;
  list-style: none;
  margin: 15px;
}

div ul li.list-item {
  font-family: Orbitron;
  font-size: 25px;
  font-weight: 500;
  text-decoration: underline 0.15em rgba(255, 255, 255, 0);
  transition: text-decoration-color 300ms;
}
div ul li.list-item:hover {
  text-decoration-color: #000000;
}
.button-group{
  display: flex;
  align-items: center;
}
.search-icon{
  margin: 20px;
}
.nav-button{
  padding: 5px 40px;
  font-size: 20px;
  border-radius: 0.5em;
  }
  
.hero-container {
  position: relative;
  width: 90%;
  margin: auto;
  padding: 100px 0;
}
body{
  background: url(assets/start.png);
  background-repeat: no-repeat;
  background-position-x: 800px;
  background-position-y: 900px;
}



.hero-container div img{
  position: absolute;
  bottom: 0;
  top: 20%;
}
.square{
  position: absolute;
  left: 13%;
  bottom: -40em;
}

.globe {
  position: absolute;
  left: 50%;
  top: 0%;
}
.star{
  position: absolute;
  left: 90%;
}

.hero-container-right {
  position: absolute;
  top: 25%;
  right: 0;
  left: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-evenly;
  align-items: center;
  height: 80vh;
}
.hero-heading {
  margin: 25px;
  font-family: Orbitron;
  font-size: 70px;
}
.hero-description {
  font-family: Poppins;
  width: 70vh;
  text-align: center;
}
.contact-heading {
  font-family: Poppins;
  margin: 0px 155px;
  font-weight: 400;
}
.icons {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 35vh;
}
.button-join {
  background-color: #000000;
  color: #ffffff;
  font-family: Orbitron;
  display: inline-block;
  padding: 3px;
  margin: 10px;
  border-radius: 5px;
}
.button-email {
  background-color: #ffffff;
  color: #000000;
  font-family: Orbitron;
  display: inline-block;
  padding: 3px;
  margin: 10px;
  border-radius: 5px;
}
